.photo-profile {
    height: 80px;
    width: 80px;
}

.img-graph {
    width: 100%;
}

@media screen and (max-width: 960px) {
    .grid-dashboard {
        display: block;
    }

    .card-admin {
        display: none;
    }
    .mt {
        margin-top: 1rem;
    }
}