.dropdown-menu {
  width: 210px;
  position: absolute;
  top: 70px;
  list-style: none;
  text-align: start;
  font-size: 1rem;
}

.dropdown-menu li {
  background: #374151;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #798AA4;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
